@import url('https://fonts.cdnfonts.com/css/hacker-argot');
* {
    margin: 0;
    /* cursor: url('./assests/imgs/Mace_Windu_Lightsaber.png'), auto; */
}

body {
   background-color: #222;
}

ul {
    padding-left: 25px;
    list-style-type: none;
    text-underline-position: above;
}

a{
    /* font-family: 'Hacker Argot', sans-serif; */
    text-decoration: none;


}
.list p{
  color: #20C20E;
  font-size: 75px;
  text-align: center ;
  font-family: 'Hacker Argot', sans-serif;

}

.list a {
  color: #20C20E;
  font-size: 75px;
  font-family: 'Hacker Argot', sans-serif;

}
/*
li a {
    font-family: 'Creepster Caps', sans-serif;
    color: #20C20E;
    font-size: 75px;
} */

.kevin:hover {
  color: #19920b;
  cursor: url(./assests/imgs/coursors/nuggy.png), auto;
  background-image: url(./assests/imgs/impPerson/KevinBaby.png);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

ul a:hover {
    color: #19920b;
    cursor: url(./assests/imgs/coursors/nuggy.png), auto;
    /* background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff); */
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

a:hover {
    color: #19920b;
    cursor: url(./assests/imgs/coursors/nuggy.png), auto;
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}


.box {
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    top: 0;
}

.logo {
    text-align: center;  
    margin: 10px;
}


::-webkit-scrollbar {
    width: 10px;
    z-index: 30;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-image: url(assests/imgs/impPerson/Blade.jpeg);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    background: url(assests/imgs/impPerson/Handle.jpeg);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    /* background: #555; */
    /* background: url(assests/imgs/impPerson/NOTTHEQUEEN.jpeg); */
    cursor: url(assests/imgs/coursors/eggs.png), auto;
  }


/* ---- particles.js container ---- */

#particles-js{
    z-index: 0;
    width: 100%;
    height: 100%;
    /* background-color: #111; */
    /* background-image: url(''); */
    background-size: cover;
    background-position: 50% 50%;
    position:fixed;
  }

  @keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}


.games {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.game {
  margin: 1rem;
  overflow: hidden;
  border-radius: 7px;
  object-fit: contain;
  cursor: pointer;
  max-width: 350px;
  position: relative;
  padding: 0;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.8);
  transition: 0.2s all ease-in-out;

  & img {
    width: 100%;
    display: inherit;
  }

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(
      -135deg,
      rgba(200, 230, 250, 1) 0%,
      transparent 50%
    );
    background-size: 200%;
    box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.5);
    transition: 0.2s all ease-in-out;
  }

  &:hover {
    transform: perspective(50em) rotateX(10deg) scale(1.1);
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.8);
    z-index: 10;
    cursor: url(./assests/imgs/coursors/nuggy.png), auto;

    &:before {
      background-position: 50%;
    }
  }
}

footer {
      font-family: 'Hacker Argot', sans-serif;
  z-index: 5;
  position: fixed;
  bottom: 0;
  right: 0;
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}


.bg {
  width: 100%;
  height: 100vh;
  position: fixed;
}

iframe {
  width: 100%;
  height: 100vh;
}
.button {
  z-index: 10;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.glow-on-hover {
  text-align: center;
  width: 220px; 
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.bg-img {
  width: 100%;
  height: 100vh; position: absolute;
  z-index: 1;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.kbd {
  border: 2px solid black;
  box-shadow: 2px 2px black;
  font-size: .85em;
  line-height: .85em;
  display: inline-block;
  font-weight: 600;
  letter-spacing: .05em;
  padding: 3px 5px;
  white-space: nowrap;
}

.poopy-butthead {
  z-index: 300;
  position: fixed;
  width: 100%;
  height: 100vh;
}
